.inputFieldContainer {
  background-color: white;
}

.profileAndInputField {
  width: auto;
  height: auto;
  display: flex;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder {
  font-size: 20px;
}

input {
  margin-top: 10px;
  display: flex;
  margin-left: 15px;
  border: none;
  width: 100%;
  height: 60px;
}

.myImage {
  width: 55px;
  height: 55px;
  border-radius: 40px;
}

.iconsAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 70px;
  color: #1da1f2;
}

.icons {
  display: flex;
}

.icon {
  padding: 5px;
  cursor: pointer;
}

.button {
  border: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
  background-color: #1da1f2;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 45px;
  width: 100px;
}

.button:hover {
  cursor: pointer;
  background-color: #3e95cb;
  transition: 400ms;
}

@media screen and (max-width: 600px) {
  .inputFieldContainer {
    display: none;
  }
}
